
{% extends 'base.html' %}
{% load date_filters %}

{% block content %}

<div class="text-center">
{% if notActive %}
<h1> The doctor has not arrived yet </h1>
{% else %}
<h1 class="panel panel-defaul"> Appointments for Today </h1>
<table class="table table-striped">
    
    <thead>
      <tr>
        <th> Scheduled Time </th>
        <th> Duration </th>
        <th> Status </th>
        <!-- {% if user.is_authenticated %}
        <th> Waiting Time </th>
        {% endif %} -->
      </tr>
    </thead>

    <tbody>
    {% for appointment in appointments %}
	
      <tr>
        <td> {{ appointment.scheduled_time|date_format }} </td>
        <td> {{ appointment.duration|time_format }} </td>
        <td> {{ appointment.status|default_if_none:"" }}  </td>
        {% if user.is_authenticated %}
        <!-- <td> {{appointment|waiting_time}}</td> -->
          {% if appointment.status != "Complete" %}
            {% if appointment.status != "In Session"%}
            <td> <a href="{{appointment.id}}/{{appointment.scheduled_time}}/stopTimer" class="btn btn-primary">Stop Waiting</button> </td>
            {% else %}
            <td></td>
            {% endif %}
            <td> <a href="{{appointment.id}}/complete" class="btn btn-primary">Complete Session</button> </td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        {% endif %}
      </tr>
      
	{% endfor %}
     
    </tbody>
  </table>
  <br>
  {% if user.is_authenticated %}
    <span> Average Time : {{averageTime}} minutes </span>
  {% else %}
    <a href='patient' class='btn btn-primary'> Check In </a>
  {% endif %}
{% endif %}
</div>

{% endblock %}